import gradio as gr

default_container: DefaultContainer = DefaultContainer.getInstance()

with gr.Blocks() as app:
    # post_create_view: PostCreateView = default_container.get(PostCreateView)
    pass

app.launch()
